<footer class="footer pt-2 mt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 mb-2 text-center">
        <div>
          <ul class="d-flex flex-row justify-content-center nav">
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://github.com/MaksymProtsak" target="_blank">
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="http://www.youtube.com/@maksymprotsak3316" target="_blank">
                <i class="fab fa-youtube text-lg opacity-8"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="text-center">
      <p class="text-dark my-2 font-weight-normal">
        &copy; <a href="https://www.linkedin.com/in/maksymprotsak/" target="_blank">Maksym Protsak</a> - Coded By.
      </p>
    </div>
  </div>
</footer>