{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block content %}
  {% include "includes/navigation.html" %}
  <div class="container my-7">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <table class="table m-n2">
          <tr>
            <td>
              <h1>
                Task detail page:
              </h1>
            </td>
            <td class="text-lg-end">
              {% if user in task.assignees.all %}
                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}"
                   class="btn btn-primary link-to-page my-2">
                  Delete me from this task
                </a>
              {% else %}
                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}"
                   class="btn btn-success link-to-page my-2">
                  Assign me to this task
                </a>
              {% endif %}
            </td>
            <td class="text-lg-end w-0">
              <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page my-2">Delete
              </a>
            </td>
            <td class="text-lg-end w-0">
              <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-info link-to-page my-2">
                Update
              </a>
            </td>
          </tr>
        </table>

        <div class="card z-index-0 fadeIn3 fadeInBottom mb-3">
          <div class="card-body pb-0">
            <section class="pt-0 pb-2" id="worker-info">
              <table class="table">
                <tr class="text-center">
                  <th>Name</th>
                  <th>Description</th>
                  <th>Deadline</th>
                  <th>Is completed</th>
                  <th>Priority</th>
                  <th>Task type</th>
                </tr>
                <tr class="text-center">
                  <td class="text-wrap">{{ task.name }}</td>
                  <td class="text-wrap max-width-200">{{ task.description }}</td>
                  <td class="text-center">{{ task.deadline }}</td>
                  <td class="text-center">{{ task.is_completed }}</td>
                  <td class="text-center">{{ task.get_priority_display }}</td>
                  <td class="text-center">{{ task.task_type }}</td>
                </tr>
              </table>
            </section>
          </div>
        </div>

        <div class="ml-3">
          <h4>Assignees:</h4>
          <div class="card z-index-0 fadeIn3 fadeInBottom mt-n1">
            <div class="card-body pb-0">
              <section class="pt-0 pb-2" id="worker-tasks">
                <table class="table">
                  <tr class="text-center">
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Is superuser</th>
                    <th>Email</th>
                    <th>Position</th>
                  </tr>
                  {% for assignee in task.assignees.all %}
                    <tr class="text-center">
                      <td>
                        <a href="{% url 'task_manager:worker-detail' pk=assignee.id %}">
                          {{ assignee.username }}
                        </a>
                      </td>
                      <td>{{ assignee.first_name }}</td>
                      <td>{{ assignee.last_name }}</td>
                      <td>{{ assignee.is_superuser }}</td>
                      <td>{{ assignee.email }}</td>
                      <td>{{ assignee.position }}</td>
                    </tr>

                  {% empty %}
                    <p>No assignee(s)!</p>
                  {% endfor %}
                </table>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
