{% extends "base.html" %}

{% block content %}
  <h1>
    Worker detail page
    <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <table class="table">
    <tr>
      <th>
        Username
      </th>
      <th>
        First name
      </th>
      <th>
        Last name
      </th>
      <th>
        Is superuser
      </th>
      <th>
        Email
      </th>
      <th>
        Position
      </th>
    </tr>
    <tr>
      <td>
        {{ worker.username }}
      </td>
      <td>
        {{ worker.first_name }}
      </td>
      <td>
        {{ worker.last_name }}
      </td>
      <td>
        {{ worker.is_superuser }}
      </td>
      <td>
        {{ worker.email }}
      </td>
      <td>
        {{ worker.position }}
      </td>
    </tr>
  </table>

  <div class="ml-3">
    <h4>Tasks assigned by {{ worker.username }}:</h4>

    <table class="table">
      <tr>
        <th style="width: 5%;">#</th>
        <th>Title</th>
        <th>Deadline</th>
        <th>Is completed</th>
        <th>Priority</th>
        <th>Type</th>
        <th>Task id</th>
      </tr>
      {% for task in worker.tasks.all %}
        <tr>
          <td>{{ forloop.counter }}</td>

          <td>
            <a href="{% url 'task_manager:task-detail' pk=task.id %}">
              {{ task.name }}
            </a>
          </td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.is_completed }}</td>
          <td>{{ task.get_priority_display }}</td>
          <td>{{ task.task_type }}</td>
          <td>{{ task.id }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8">No tasks!</td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
